/* ----------------------------------- Allgemien ---------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a26;
    color: #ffffff;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container-menu {
    width: 100%;
}

/* ----------------------------------- Header ---------------------------------- */
.main-header {
    background: #1a1a26;
    color: #fff;
    margin-top: 20px;
}

.header-text {
    font-size: 1.2vw;
    text-align: left;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 25px 0 25px 0;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}

.header-text a {
    color: #fff;
    text-decoration: none;
}

.main-nav {
    flex: 1;
    text-align: right;
}

.main-nav ul {
    font-size: 18px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 100px;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.main-nav a {
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: color 0.3s;
}

.main-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #0077ff;
    transition: width 0.3s;
}

.main-nav a:hover::after {
    width: 100%;
}

/* ----------------------------------- Hauptbereich ---------------------------------- */
main {
    padding-top: 18%;
}

h2 {
    top: 4%;
    position: absolute;
    font-size: 8vw;
    text-align: center;
    margin-bottom: 20px;
    color: #5d79f7;
    z-index: -1;
    animation: fadeIn 3s ease-out;
}

.gradient-text-h2 {
    background: linear-gradient(180deg, #0077ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-sub {
    width: 100%;
    height: 100%;
}

/* ----------------------------------- Content Bereich ---------------------------------- */
.content {
    padding: 0 50px;
    text-align: center;
}

.content h3 {
    font-size: 5vw;
    margin-bottom: 3%;
    color: #fff;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    height: auto;
}

.content .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a26;
    padding: 30px;
    border-radius: 12px;
    transition: transform 0.5s, background-color 0.5s;
}

.content .card:hover {
    transform: translateY(-10px);
    background-color: #fff;
    color: #1a1a26;
}

.content .card h4 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #70b1fd;
}

.content .card p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.8;
    flex-grow: 1; 
}

.content .card img {
    width: 100%;
    height: 220px; 
    object-fit: cover; 
    margin-bottom: 15px;
    border-radius: 8px;
}

.container-highlights {
    background: linear-gradient(180deg, #1a1a26, #0077ff);
    background-size: cover;
    padding: 50px 0;
    width: 100%;
    max-width: 100%;
}

/* ----------------------------------- Bilder ---------------------------------- */
.tech-img,
.application-img {
    width: 90%;
    display: block;
    margin: auto;
    z-index: 1;
}

/* ----------------------------------- Footer ---------------------------------- */
.main-footer {
    background-color: #1a1a26;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.main-footer p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
}

.scroll-to-top {
    color: white;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
}

.scroll-to-top:hover {
    text-decoration: underline;
}

/* ----------------------------------- Animationen ---------------------------------- */
a,
button {
    transition: all 0.5s ease;
}

.container-menu ul li {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------------------------- Hamburger-Menü ---------------------------------- */
.menu-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    width: 30px;
}

.hamburger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}


/* ----------------------------------- Responsiv Design ---------------------------------- */

@media (max-width: 767px) {
    main {
        padding-top: 50px;
    }

    h2 {
        top: 5%;
        animation: fadeIn 3s ease-out;
    }

    .tech-img,
    .application-img {
        margin-top: 12%;
    }
}

@media (max-width: 1024px) {
    .main-nav {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #1a1a26;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    .main-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        gap: 15px;
    }

    .main-nav a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }

    .menu-toggle:checked~.main-nav {
        height: auto;
        top: 70px;
        background-color: #0077ff;
        z-index: 2;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-highlights p,
    h3 {
        margin: 20px;
    }

    .container-highlights {
        padding: 10px 0;
        justify-items: center;
    }

    .container-menu ul li {
        font-size: 17px;
        margin: 10px 15px;
        animation: none;
    }

    .main-footer {
        padding: 0 20px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .content .card {
        width: 80%;
    }

    .content {
        padding: 0;
    }

}

/* ----------------------------------- Animation für das Hamburger-Menü ---------------------------------- */

.menu-toggle:checked+.hamburger-menu span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle:checked+.hamburger-menu span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked+.hamburger-menu span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 1.5vw;
}

.container-menu {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}